<div class="single_blog_item">
    <div class="single_blog_img">
        <img src="assets/img/food_item/food_item_1.png" alt="">
    </div>
    <div class="single_blog_text">
        <h3>{{childDish.platName}}</h3>
        <p>{{childDish.price}} Dinar </p>
        <p> by {{firstName}} {{lastName}}</p> 
        <!-- <ng-container *ngFor="let u of users">
            <p *ngIF="u.id == childDish.idChef"> by chef{{u.firstName}} {{u.lastName}} </p> 
        </ng-container> -->
        <button (click)="deletePlat(childDish.id)">Delete</button>
    </div>
</div>